.imagesetup {
            height: 100px;
            width: 150px;
            float: left;
            display: inline-block;
            background-image: url('images/logo.jpg');
            background-size: contain;
            background-repeat: no-repeat;
             margin-top: 15px;
             margin-left: 20px
            
        }
        .headname {
            text-align: end;
        }
       
        .row {
             
             display: flex;
             flex-wrap: wrap;
             margin-left: auto;
            margin-right: auto;
            width: 75%;
        }
        .arrange {
            height:150px;
            width:150px;

            max-width: 100%;
            max-height: 100%;
        }
        .title1{
            text-align: center;
        }
        
        .container {
            height: 200px;
            text-align: center;
            padding-left:50px;
            padding-right:50px;
        }
        .dummy {
            margin-left:100px;
        }
        h1,h2,h3,h4{
            color:lightslategray;
            font-weight: 70%;

        }
        #img1{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 60%;
        }